
<div class="hero">
    <div class="category">
        <h1>კატეგორიები</h1>
        <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">სახელი</th>
                    <th scope="col">კატეგორია</th>
                    <th scope="col">ფოტოსურათი</th>
                    <th scope="col">რეიტინგი</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <!-- Add your dynamic data rows here -->
                <tr>
                    <td>გიორგი ხორავა</td>
                    <td>ანდროლოგი</td>
                    <td><img src="../../assets/Ellipse 23.png" alt="Photo 1" width="50"></td>
                    <td><div class="stars">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                    </div></td>
                    <td class="edit-delete"><img class="circle" src="../../assets/edit.png" alt="">
                    <img class="circle1" src="../../assets/delete.png" alt=""></td>
                </tr>
                <tr>
                    <td>ნატალია გოგოხია</td>
                    <td>ანესთეზიოლოგი</td>
                    <td><img src="../../assets/Ellipse 24.png" alt="Photo 1" width="50"></td>
                    <td><div class="stars">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                    </div></td>
                    <td class="edit-delete"><img class="circle" src="../../assets/edit.png" alt="">
                    <img class="circle1" src="../../assets/delete.png" alt=""></td>
                </tr>
                <tr>
                    <td>ანა დვალი</td>
                    <td>კარდიოლოგი</td>
                    <td><img src="../../assets/Ellipse 25.png" alt="Photo 1" width="50"></td>
                    <td><div class="stars">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                    </div></td>
                    <td class="edit-delete"><img class="circle" src="../../assets/edit.png" alt="">
                    <img class="circle1" src="../../assets/delete.png" alt=""></td>
                </tr>
                <tr>
                    <td>გიორგი გაბიტაშვილი</td>
                    <td>კოსმეტოლოგი</td>
                    <td><img src="../../assets/Ellipse 26.png" alt="Photo 1" width="50"></td>
                    <td><div class="stars">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                    </div></td>
                    <td class="edit-delete"><img class="circle" src="../../assets/edit.png" alt="">
                    <img class="circle1" src="../../assets/delete.png" alt=""></td>
                </tr>
                <tr>
                    <td>ბარბარე ქორთუა</td>
                    <td>ლაბორანტი</td>
                    <td><img src="../../assets/Ellipse 27.png" alt="Photo 1" width="50"></td>
                    <td><div class="stars">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                    </div></td>
                    <td class="edit-delete"><img class="circle" src="../../assets/edit.png" alt="">
                    <img class="circle1" src="../../assets/delete.png" alt=""></td>
                </tr>
                <tr>
                    <td>სოფია გოგიაშვილი</td>
                    <td>ოჯახის ექიმი</td>
                    <td><img src="../../assets/Ellipse 28.png" alt="Photo 1" width="50"></td>
                    <td><div class="stars">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                    </div></td>
                    <td class="edit-delete"><img class="circle" src="../../assets/edit.png" alt="">
                    <img class="circle1" src="../../assets/delete.png" alt=""></td>
                </tr>
                <tr>
                    <td>გიორგი ხორავა</td>
                    <td>პედიატრი</td>
                    <td><img src="../../assets/Ellipse 23.png" alt="Photo 1" width="50"></td>
                    <td><div class="stars">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                    </div></td>
                    <td class="edit-delete"><img class="circle" src="../../assets/edit.png" alt="">
                    <img class="circle1" src="../../assets/delete.png" alt=""></td>
                </tr>
                <tr>
                    <td>გიორგი</td>
                    <td>ანდროლოგი</td>
                    <td><img src="../../assets/Ellipse 26.png" alt="Photo 1" width="50"></td>
                    <td><div class="stars">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        <img src="../../assets/material-symbols_star-rounded.png" alt="">
                    </div></td>
                    <td class="edit-delete"><img class="circle" src="../../assets/edit.png" alt="">
                    <img class="circle1" src="../../assets/delete.png" alt=""></td>
                </tr>

                <!-- <tr *ngFor="let user of ">
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                  </tr> -->
                
            </tbody>
        </table>
    </div>
    </div>
</div>
