<div class="hero">
    <div class="hero-hero">
        <div class="first-section">
            <div class="headers">
                <span>--</span>
                <div class="headers-p">
                    <p>რეგისტრაცია</p>
                    <p>კატეგორიები</p>
                    <p>ექიმები</p>
                </div>
            </div>
            <div class="headers2">
                <button>ექიმი</button>
                <button>ექიმი</button>
                <button>ექიმი</button>
            </div>
        </div>

        <div class="second-section">
            <div class="user"></div>
            <div>
                <!-- ცხრილი -->
        <div class="calendar">
            
            <div class="custom-table">
                <table>
                    <!-- Table Headers -->
                    <tr class="header-row">
                    <th colspan="8">Header without Border Divider</th>
                    </tr>
                    <!-- Table Rows -->
                    <ng-container *ngFor="let row of rows; let rowIndex = index">
                    <tr class="data-row" [class.without-border-divider]="rowIndex === 0">
                        <td *ngFor="let cell of row"></td>
                    </tr>
                    </ng-container>
                </table>
            </div>
              
              
        </div>
            </div>
        </div>
    </div>
</div>

