<div class="hero">
    <div class="hero-hero">
        <div class="first-section">
            <div class="headers">
                <div class="rectangle">
                    <span class=" rectangle-1"></span>
                    <span class=" rectangle-2"></span>
                    <span class=" rectangle-3"></span>
                </div>
                <div class="headers-p">
                    <p>რეგისტრაცია</p>
                    <p>კატეგორიები</p>
                    <p>ექიმები</p>
                </div>
            </div>
            <div class="headers2">
                <button>ექიმი</button>
                <button>ექიმი</button>
                <button>ექიმი</button>
            </div>
        </div>

        <div class="second-section">
            <div class="left-section">
                <div class="user"></div>
                <div class="change-sect">
                    <button class="adding">
                        <p>+ დამატება</p>
                    </button>
                    <button class="redact">
                        <span><img src="../../assets/edit-svgrepo-com 2.png" alt=""></span>
                        <p>რედაქტირება</p>
                    </button>
                    <button class="delete">
                        <span><img src="../../assets/delete-file-svgrepo-com 3.png" alt=""></span>
                        <p>წაშლა</p>
                    </button>
                </div>
            </div>
            <div>
                <!-- ცხრილი -->
        <div class="calendar">
            <div class="time">
                <span class="year">2023</span>
                <div class="buttons-click">
                    <span class="arrow arrow-left "><img src="../../assets/material-symbols_arrow-back-ios-rounded.png" alt=""></span>
                    <button class="action-button">აპრილი</button>
                    <span class="arrow arrow-right"><img src="../../assets/material-symbols_arrow-back-ios-rounded (1).png" alt=""></span>
                </div>
            </div>
            <div class="custom-table">
                <table>
                    <!-- Table Headers -->
                    <tr class="header-row">
                    <th colspan="8">Header without Border Divider</th>
                    </tr>
                    <!-- Table Rows -->
                    <ng-container *ngFor="let row of rows; let rowIndex = index">
                    <tr class="data-row" [class.without-border-divider]="rowIndex === 0">
                        <td *ngFor="let cell of row"></td>
                    </tr>
                    </ng-container>
                </table>
            </div>
              
              
        </div>
            </div>
        </div>
    </div>
</div>

