<!-- header.component.html -->
<div class="header">
    <div class="first-section">
      <div class="nav-bar-1">
        <a href="" class="logo-link">
          <img src="../../../assets/logo1.png" alt="Logo">
          <span class="logo-text">კლინიკა</span>
        </a>

        <ul class="nav-bar">
          <li>ექიმები</li>
          <li>კლინიკები</li>
          <li>ანოტაციები</li>
          <li>აქციები</li>
          <li>სერვისები</li>
          <li>მედიკამენტები</li>
          <li>კონტაქტი</li>
        </ul>

        <div class="navbar-button">
          <button class="button-reg-aut">
            <span class="button-registartion" (click)="navigateToRegistration()">რეგისტრაცია</span>
            <span class="button-aut" > / ავტორიზაცია</span>
          </button>
  
          <button class="button-eng">
            <span>ENG</span>
          </button>
        </div>
      </div>
    </div>

    <div class="second-section">
      <div class="header-elements">
        <div class="header-element1">
          <div class="header-element-1">
            <div class="img-color">
              <img src="../../../assets/call.png" alt="Logo">
            </div>
            <p>032 2 100 100</p>
          </div>
          <div class="header-element-1">
            <div class="img-color">
              <img src="../../../assets/location.png" alt="Logo">
            </div>
            <p>იაკობ ნიკოლაძე №10</p>
          </div>
        </div>
        <div class="header-element2">
          <div class="header-element-2">
            <input type="text" placeholder="მოძებნე ექიმი სახელით">
          </div>
          <div class="header-element-2">
            <input class="grey-elem" type="text" placeholder="მოძებნე სპეციალობით">
          </div>
          <div class=" img-back">
            <img src="../../../assets/search.png" alt="Logo">
          </div>
        </div>
      </div>
    </div>
  </div>
  