<div class="registration-form">
    <h2>რეგისტრაცია</h2>
    
    <form #form="ngForm" (ngSubmit)="onSubmit(form)"
    [class.submitted] = "service.formSubmitted" novalidate autocomplete="off">
      <div class="form-group">
        <label for="firstName">სახელი</label>
        <input type="text" id="firstName" #name="ngModel" [(ngModel)]="service.formData.name" name="firstName" placeholder="( მინიმუმ 5 სიმბოლო )" required minlength="2" maxlength="10">
      </div>
  
      
      <div class="form-group email-group">
        <label for="email">Email</label>
        <input type="email" id="email" #email="ngModel" [(ngModel)]="service.formData.email" name="email"  required minlength="5" maxlength="20" class="email-input">
        <img class="right-arrow-img" src="../../assets/mail-right-arrow.png" alt="Right Arrow">
      </div>
      
      <div class="form-group">
        <label for="idNumber">პირადი</label>
        <input type="text" id="idNumber" #idNumber="ngModel" [(ngModel)]="service.formData.idNumber" name="idNumber" placeholder="00000000000"  required minlength="10" maxlength="11" >
      </div>
      
      <div class="form-group">
        <label for="lastName">გვარი</label>
        <input type="text" id="lastName" #lastName="ngModel" [(ngModel)]="service.formData.lastName" name="lastName"  required minlength="5" maxlength="15" >
      </div>
      <div class="form-group">
        <div class="labels">
          <label for="activationCode">აქტივაციის კოდი</label>
          <label class="vada" for="">ვადა 30წთ</label>
        </div>
        <div class="activation">
          <input type="text" id="activationCode" name="activationCode" required>
          <span>*ბმულის მოქმედების ვადა ამოიწურა</span>
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">პაროლი</label>
        <input type="password" id="password" #password="ngModel" [(ngModel)]="service.formData.passwrod" name="password" placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )"  required minlength="6" maxlength="12" >
      </div>
      <div class="button">
        <button type="submit">რეგისტრაცია</button>
      </div>
    </form>
  </div>