
<div class="home-hero">
    <div class="main-content">
        <div class="rectangle">
            <div class="rectangle-child">
                <p>აირჩიე კლინიკა რომელსაც შეგიძლია ენდო</p>
                <button class="button"><img src="../../assets/location.png" alt="">იაკობ ნიკოლაძე №10</button>
            </div>
        </div>
        <!-- Other content goes here -->
    </div>
      <div class="categories">
        <div class="category">
            <div class="category-all">
                <div class="category-name">
                    <p>კატეგორია</p>
                    <img src="../../assets/Vector1.png" alt="">
                </div>
                <div class="category-list">
                    <ul class="category-components">
                        <li><p>( 14 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> ანდროლოგი</p></li>
                        <li><p>( 61 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> ანესთეზიოლოგი</p></li>
                        <li><p>( 467 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> კარდიოლოგი</p></li>
                        <li><p>( 43 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> კოსმეტოლოგი</p></li>
                        <li><p>( 107 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> ლაბორანტი</p></li>
                        <li><p>( 238 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> ოჯხის ექიმი</p></li>
                        <li><p>( 366 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> პედიატრი</p></li>
                        <li><p>( 8 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> ტოქსიკოლოგი</p></li>
                        <li><p>( 15 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> ტრანსფუზილოგი</p></li>
                        <li><p>( 171 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> გინეკოლოგი</p></li>
                        <li><p>( 68 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> დერმატოლოგი</p></li>
                        <li><p>( 32 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> ენდოკრინოლოგი</p></li>
                        <li><p>( 56 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> გასტროენტოროლოგი</p></li>
                        <li><p>( 114 )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p> თერაპევტი</p></li>
                      </ul>
                </div>
                <div>
                    <img src="../../assets/Vector1.png" alt="">
                    <span class="category-last">
                        <p>სრულად ნახვა</p>
                        <img src="../../assets/arrow-down.png" alt="">
                    </span>
                </div>
            </div>
        </div>
        <div class="doctors">
            <div class="square-container">
                <div class="square">
                    <div class="upper">
                        <div class="viewers">
                            <img src="../../assets/ic_baseline-remove-red-eye.png" alt="">
                            <p>129 371</p>
                        </div>
                        <img src="../../assets/pin-svgrepo-com1.png" alt="">
                    </div>
                    <div class="middle">
                        <img class="picture" src="../../assets/Ellipse5.png" alt="">
                        <p class="card-name">გიორგი ხორავა</p>
                        <p class="card-category">კარდიოლოგი / არითმოლოგი</p>
                        <div class="stars">
                            <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        </div>
                        <button>მიღებაზე ჩაწერა</button>
                    </div>
                </div>
                <div class="square">
                    <div class="upper">
                        <div class="viewers">
                            <img src="../../assets/ic_baseline-remove-red-eye.png" alt="">
                            <p>129 371</p>
                        </div>
                        <img src="../../assets/pin-svgrepo-com1.png" alt="">
                    </div>
                    <div class="middle">
                        <img class="picture" src="../../assets/Ellipse5.png" alt="">
                        <p class="card-name">გიორგი ხორავა</p>
                        <p class="card-category">კარდიოლოგი / არითმოლოგი</p>
                        <div class="stars">
                            <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        </div>
                        <button>მიღებაზე ჩაწერა</button>
                    </div>
                </div>
                <div class="square">
                    <div class="upper">
                        <div class="viewers">
                            <img src="../../assets/ic_baseline-remove-red-eye.png" alt="">
                            <p>129 371</p>
                        </div>
                        <img src="../../assets/pin-svgrepo-com1.png" alt="">
                    </div>
                    <div class="middle">
                        <img class="picture" src="../../assets/Ellipse5.png" alt="">
                        <p class="card-name">გიორგი ხორავა</p>
                        <p class="card-category">კარდიოლოგი / არითმოლოგი</p>
                        <div class="stars">
                            <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        </div>
                        <button>მიღებაზე ჩაწერა</button>
                    </div>
                </div>
                <div class="square">
                    <div class="upper">
                        <div class="viewers">
                            <img src="../../assets/ic_baseline-remove-red-eye.png" alt="">
                            <p>129 371</p>
                        </div>
                        <img src="../../assets/pin-svgrepo-com1.png" alt="">
                    </div>
                    <div class="middle">
                        <img class="picture" src="../../assets/Ellipse5.png" alt="">
                        <p class="card-name">გიორგი ხორავა</p>
                        <p class="card-category">კარდიოლოგი / არითმოლოგი</p>
                        <div class="stars">
                            <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        </div>
                        <button>მიღებაზე ჩაწერა</button>
                    </div>
                </div>
                <div class="square">
                    <div class="upper">
                        <div class="viewers">
                            <img src="../../assets/ic_baseline-remove-red-eye.png" alt="">
                            <p>129 371</p>
                        </div>
                        <img src="../../assets/pin-svgrepo-com1.png" alt="">
                    </div>
                    <div class="middle">
                        <img class="picture" src="../../assets/Ellipse5.png" alt="">
                        <p class="card-name">გიორგი ხორავა</p>
                        <p class="card-category">კარდიოლოგი / არითმოლოგი</p>
                        <div class="stars">
                            <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        </div>
                        <button>მიღებაზე ჩაწერა</button>
                    </div>
                </div>
                <div class="square">
                    <div class="upper">
                        <div class="viewers">
                            <img src="../../assets/ic_baseline-remove-red-eye.png" alt="">
                            <p>129 371</p>
                        </div>
                        <img src="../../assets/pin-svgrepo-com1.png" alt="">
                    </div>
                    <div class="middle">
                        <img class="picture" src="../../assets/Ellipse5.png" alt="">
                        <p class="card-name">გიორგი ხორავა</p>
                        <p class="card-category">კარდიოლოგი / არითმოლოგი</p>
                        <div class="stars">
                            <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                                <img src="../../assets/material-symbols_star-rounded.png" alt="">
                        </div>
                        <button>მიღებაზე ჩაწერა</button>
                    </div>
                </div>
              </div>
        </div>
</div>